<div class="grid_5" id="accordionTR">
    <h3><a href="#">Last Few Balls</a></h3>
    <ul>
    <% for (var i = 0; i < Math.min(called_balls.length,7); i++) { %>
      <li class="last_few_balls"><%= called_balls[i] %></li>
    <% }; %>
    </ul>
</div>
