<span class="game_controls">
  <button id="next_ball">Next</button>
  <!--< %= link_to 'Next',:action => :next_ball %>-->
</span>
<span class="game_controls"><button id="btn_auto">Auto</button></span>
<span class="game_controls"><button id="btn_pause">Pause</button></span>

