  <div class="grid_5">
    <% if (current_call_sound && current_call_sound.length >0 ) { %>
        <audio autoplay="autoplay" controls="controls" src="<%= current_call_sound %>" id="ball_caller_id" />
    <% }; %>
  </div>
  
