<div class="grid_10" id="accordionTL">
<h3><a href="#">Current Ball</a></h3>
<div>
<div style="text-align:center;width:100%">
    <div style="font-size:200pt">
    <% if (called_balls[0]) { %>
    <%= called_balls[0] %>
    <% } else { %>
          &nbsp;
    <% }; %>
    </div>
      <span class="game_controls"><button id="action-button">Uh oh -should not see this?</button></span>
    <!--< % if (!player_with_first_line_id) { %>-->
      <!--<span class="game_controls"><button onclick="BingoCaller.handleWinnerLine(< %= caller_session['auto'].present? %>,'< %= url_for :action => :next_ball %>');">Line?</button></span>-->
    <!--< % } else if (!player_with_bingo_id) { %>-->
      <!--<span class="game_controls"><button onclick="BingoCaller.handleWinnerHouse(< %= caller_session['auto'].present? %>,'< %= url_for :action => :next_ball %>');">House?</button></span>-->
    <!--< % } else { %>-->
      <!--<span class="game_controls">< %= link_to 'Another?',:action => :same_again %></span>-->
    <!--< % }; %>-->
</div>
</div>
</div>
