<div class="grid_10" id="accordionTL">
<h3><a href="#">Current Ball</a></h3>
<div>
<div style="text-align:center;width:100%">
    <div style="font-size:200pt">
    <% if (called_balls[0]) { %>
    <%= called_balls[0] %>
    <% } else { %>
          ?
    <% }; %>
    </div>
      <span class="game_controls"><button id="action-button">Uh oh -should not see this?</button></span>
</div>
</div>
</div>
