.game_controls {
    font-size: 16px;
}

li .ui-button-text {
    font-size: 12px;
}

.ball_not_called {
    color:plum;
}

.ball_called {
    font-weight:bold;
    color:yellow;
}

.summary th,.summary td {
    padding: 5px;
    text-align: right;
}